site: Broadmin
title: broadmin
description: >-
  just a minimalist, personal blog
googlewebfonts: Fira+Code:wght@400;500;700
lang: en-US
timezone: Asia/Jakarta
repo: https://github.com/broadmin/broadmin.github.io # site repo [optional]
data-theme: dark # default theme "dark" | "light"

author:
  name: Broadmin
  bio: just a minimalist, personal blog
  github: broadmin # github username
  twitter: riprippeerr # twitter username
  email: mail@broadmin.com # email adress

# URL settings
url: "https://broadmin.github.io"
baseurl: "" # leave blank if not wish
permalink: "https://broadmin.github.io"
permalink: pretty 

markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge

exclude:
  - .jekyll-cache
  - .obsidian
  - Gemfile
  - Gemfile.lock
  - LICENSE.md
  - README.md
  - CONTRIBUTING.md
  
compress_html:
  clippings: all
  comments: ["<!-- ", " -->"]

sass:
  sass_dir: _sass
  style: compressed

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-relative-links

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /:year/:month/:day/:slug
  
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

relative_links:
  enabled:     true
  collections: false